body {
	margin: 0;
	background-color: #444;
}

.profile {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-flow: column;
	color: white;
	font-family: sans-serif;
}

img {
	border-radius: 100%;
	width: 300px;
	box-shadow: 0 0 20px black;
}

.h1 {
	font-size: 3em;
	text-shadow: 0 0 20px black;
	margin: 0;
}

/* .counter {
	font-size: 2em;
	color: salmon;
} */
